.product-item {
	padding: 2rem 1rem;
	text-align: center;

	.photo {
		max-width: 200px;
		margin: auto;
		display: block;
		max-height: 170px;
	}

	.title {
		margin: 20px 0px;
	}

	.price {
		display: block;
		margin-bottom: 10px;
	}
}
